body {
    background-color: rgb(162, 255, 86);
}

h1 {
    text-align: center;
}
.doboz
    {
        border: 2px solid black;
        background-color: rgb(10,10,10);
        border-radius: 50px;
        color: whitesmoke;
        margin-left: 20%;
        margin-right: 20%;
    }

#center {
    text-align: center;
}

#szam {
    width: 70vw;
    height: 20vh;
    font-size: 2vh;
    text-align: center;
}

#box {
    background-color: antiquewhite;
    border: 2px black solid;
    border-radius: 50px;
}

span {
    font-size: 1.5vw;
}

#gif {
    width: 20vw;
}

#table {
    text-align: center;
    border: 2px black solid;
}

.ratata{
    font-family: monospace;
    color: whitesmoke;
}

table {
    border: 2px black solid;
}

.cell {
    font-size: 2vw;
    border: 2px black solid;
    width: 5vw;
}