body {
    background-color: rgb(162, 255, 86);
}

h1 {
    text-align: center;
}

#center {
    text-align: center;
}

#ball {
    position: absolute;
    left: 0vw;
    bottom: 0vw;
}

img {
    width: 5vw;
}

.keret {
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    background-color: lightblue;
    position: absolute;
    right: 0px;
}

#again {
    display: none;
}