body {
    background-color: rgb(162, 255, 86);
}

h1 {
    text-align: center;
}

#center {
    text-align: center;
}
#sor{
    width: 10vw;
    height: 5vh;
    font-size: 4vh;
}
#oszlop{
    width: 10vw;
    height: 5vh;
    font-size: 4vh;
}
.a{
    font-size: 1.5vw;
}

#table{
    border: 2px black solid;
    user-select: none;
}
span{
    border: 2px black solid;
    user-select: none;
    background-color: white;
}