body {
    background-color: rgb(162, 255, 86);
}

h1 {
    text-align: center;
}

#center {
    text-align: center;
}

#sor {
    width: 10vw;
    height: 5vh;
    font-size: 4vh;
}

#oszlop {
    width: 10vw;
    height: 5vh;
    font-size: 4vh;
}

.a {
    font-size: 1.5vw;
}

#table {
    border: 2px black solid;
    user-select: none;
    width: auto;
}

span {
    border: 2px black solid;
    user-select: none;
    background-color: white;
}

#left {
    position: absolute;
    left: 2vw;
    top: 5vw;
}

#asd {
    display: none;
}

.keret {
    width: 10vw;
    height: 18vh;
    background-color: orange;
    border: 2px black solid;
    border-radius: 10px;
    font-weight: bold;
}

.kep {
    margin: 10px;
    background-color: rgb(167, 167, 167);
    line-height: 0.5vw;
    height: auto;
}

.white {
    color: white;
    display: inline;
}

.black {
    color: black;
    display: inline;
}

br {
    line-height: 0%;
}